<h1 style="text-align: center !important;">{{title}}</h1>
<nav class="uk-grid uk-flex-column" style="align-items: center !important;">

<a class="uk-button uk-width-1-5 uk-margin-small-bottom button" routerLink="/tableView" routerLinkActive="active">
    <h3>Table View</h3>
</a>
<a class="uk-button uk-width-1-5 uk-margin-small-bottom button" routerLink="/blockView" routerLinkActive="active">
    <h3>Block View</h3>
</a>
<a class="uk-button uk-width-1-5 uk-margin-small-bottom button" routerLink="/imageUpload" routerLinkActive="active">
    <h3>Image Upload</h3>
</a>
</nav>

