<div class="uk-grid">
    <div class="uk-width-1-1">
        <!--<menu-button></menu-button>-->
        <!--<div>
            <span>tableView</span>
        </div>-->
    </div>
    <div class="uk-width-1-1">
        <table class="uk-table uk-table-hover uk-table-condensed">
            <thead>
                <th>ID</th>
                <th>Image Name</th>
                <th>Uploaded User</th>
                <th>CheckSum</th>
                <th>Events</th>
            </thead>
            <tbody *ngFor="let image of images">
                <tr>
                    <td>{{image.id}}</td>
                    <td>{{image.imageName}}</td>
                    <td>{{image.uploadedUserId}}</td>
                    <td>{{image.checksum}}</td>
                    <td>
                        <button class="uk-button uk-button-primary" (click)="view(image);"><i class="uk-icon-search"></i></button>
                        <button class="uk-button uk-button-danger" (click)="delete(image);"><i class="uk-icon-trash-o"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="uk-width-1-1">
        <!--third row-->
    </div>

</div>