<div class="uk-grid">
    <div class="uk-width-1-2">
        <div class="file-input custom">
            <span><i class="uk-icon-cloud-upload uk-icon-medium uk-text-muted uk-margin-small-right"></i>Choose or drop your image here</span>
            <input #input (change)="fileChange(input)" type="file" name="pic" accept=".jpg,.jpeg" multiple/>
        </div>
        <div class="uk-block" style="float: right">
            <button class="uk-button uk-button-danger btn-width" (click)="clearAll()">Clear All</button>
            <button class="uk-button uk-button-primary btn-width" (click)="save()">Save</button>
        </div>
    </div>
    <div class="uk-width-1-2" style="height: 80vh; max-height:80vh; overflow-y: auto">

        <div *ngFor="let file_src of file_srcs; let i = index" class="uk-panel uk-panel-box uk-panel-box-primary">
            <div class="uk-grid">
                <div class="uk-width-1-4">
                    <div class="uk-panel-badge">
                        <span (click)="removeImage(i)" class="uk-close uk-close-alt"></span>
                    </div>

                    <img [attr.src]='file_src.resizedImg' alt="" class="img-preview-size" />
                </div>
                <div class="uk-width-1-2">
                    <ul class="uk-list" style="overflow-x: hidden">
                        <li><b>Name:</b> {{file_src.name }}</li>
                        <li><b>Size:</b> {{file_src.size }}</li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>