<div class="uk-grid uk-grid-collapse vertical-aligne-midle">
    <div class="uk-width-7-10" style="display: inherit;">
    <!-- This is a button toggling the off-canvas sidebar -->
    <div routerLink="/" routerLinkActive="active" id="canvas-button-id" class="cursor-pointer">
        <span class="link-decoration margin-left"><span class="uk-icon-sun-o uk-icon-medium"></span> &nbsp;&nbsp;Home</span>
    </div>
        <!--<span class="uk-icon-folder-open uk-icon-medium" style="margin-left: 20px;"></span>
        <ul id="bread-crumb-id" class="uk-breadcrumb" style="margin-top: 6px !important; margin-left: 10px;">
            <li class="uk-active"><span>First item</span></li>
            <li class="uk-active"><span>Second item</span></li>
        </ul>-->
    </div>
    <div class="uk-width-2-10 header-button-icon header-button-icon-2-10">
        <span class="link-decoration" style="float: right"><span class="uk-icon-user uk-icon-medium"></span>&nbsp;&nbsp;<span class="header-button">{{userName}}</span></span>
    </div>
    <div class="uk-width-1-12 header-button-icon header-button-icon-1-10">
        <span class="link-decoration" style="float: right"><span class="uk-icon-power-off uk-icon-medium"></span>&nbsp;&nbsp;<span [routerLink]="['/login']" class="header-button">Logout</span></span>
    </div>
</div>